body {
    background-color: black;
}

#wrapper
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#game-body
{

background-color: rgba(20,20,20,0.5);
box-shadow: 0 0 3px red;
width: 1500px;
height: 800px;
border: 1px solid rgba(255,0,0,0.3);
position: relative;
}

.player {
    width: 30px;
    height: 50px;
    position: absolute;
}

.laser {
    width: 20px;
    height: 20px;
    position: absolute;
}
.enemy {
    width: 30px;
    height: 30px;
    position: absolute;
}